body {
    background-color: whitesmoke;
    margin: 50px;
}

a {
    display: block;
    text-align: center;
    font-size: x-large;
    background-color: rgb(249, 240, 229);
    padding: 20px;
    margin: 10px ;
    
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: 30px;
}

img{
    display: block;
    margin: auto;
}

.content {
    padding: 10px 50px;
    background-color: rgb(247, 235, 235);
}

h2 {
    text-decoration:underline;
}